# Extra index for CPU-only torch to save space on Render
--extra-index-url https://download.pytorch.org/whl/cpu


fastapi
uvicorn
langgraph
groq
chromadb
sentence-transformers
torch
pandas
numpy
scikit-learn
plotly
joblib
python-dotenv